html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}


header {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

section {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  width: 25%;
}

img {
  width: 100%;
  padding-top: .75rem;
  padding-bottom: 1.5rem;
  max-width: 6.3em;
  display: block;
  margin: auto;
  margin: auto;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

body {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1rem;
  text-align: left;
  padding-left: .75rem;
}

ol {
  list-style: none;
  margin: 0;
  padding-left: .75rem;
  font-size: 1rem;
  text-align: left;
}

dd {
  margin-left: 0;
}

p {
  margin: 0;
}

.one {
  background-color: #e2e2e2;
  border-left: .05em solid #333;
}

.two {
  background-color: #ccc;
  border-left: .05em solid #333;
  border-right: .05em solid #333;
}

.three {
  background-color: #aaa;
  border-right: .05em solid #333;
}

.four {
  background-color: #999;
  border-right: .05em solid #333;
}

.all {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  display: inline-block;
  background-color: #333;
  border-radius: 8px;
  font-size: 1.25rem;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  color: #f2f2f2;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.btn-small {
    font-size: .875rem;
}

.btn:hover {
  background-color: #fff;
}
